body{

    background:#F8FAF7;

    font-family:Poppins,sans-serif;

}

.login-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#F8FAF7;

}

.login-card{

    width:420px;

    background:white;

    padding:45px;

    border-radius:18px;

    box-shadow:0 15px 40px rgba(0,0,0,0.08);

    text-align:center;

}

.login-card h1{

    color:#5F8D7A;

    margin-bottom:10px;

    font-size:32px;

}

.login-card p{

    color:#7A7A7A;

    margin-bottom:30px;

}

.login-card input{

    margin-bottom:18px;

}

.logo{

    font-size:42px;

    margin-bottom:10px;

}